@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.product {
  color: white;
  background-color: #020305;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.product .name {
  margin-top: 1rem;
  font-size: 25px;
  letter-spacing: 4px;
}
.product .price {
  text-align: right;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 20px;
}
.product .description {
  text-align: left;
  margin-top: 1.5rem;
  line-height: 1.5rem;
}
.product .button {
  background-color: transparent;
  border: none;
  border: 1px solid #f5a034;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 16px;
  transition: transform border color 0.3s ease-in;
}
.product .added {
  color: #71d957;
  border: 1px solid #71d957;
}
.product button:hover {
  transform: scale(1.1);
}

.img-container {
  width: 100%;
  min-height: 120px;
  max-height: 400px;
  overflow: hidden;
}
.img-container img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 540px) {
  .product .name {
  font-size: 18px;
}
.product .description {
  font-size: 14px;
}
.product .price {
  font-size: 18px;
}
  .img-container {
    min-height: 120px;
    max-height: 250px;
  }
  .product .button {
  font-size: 14px;
  transition: transform 0.3s ease-in;
}
}
