@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');
.container{
      text-align: right;
      display: flex;
      justify-content: flex-end;
      margin-top:1rem;
}
.button{
      color:white;
      background: linear-gradient(to right, #5090E9, #52B6F6);
      border:none;
      display: flex;
      justify-content: center;
      align-items: center;
       font-family: 'Poppins';
      padding:.6rem 1rem;
      font-size: 18px;
       font-family: 'Josefin Sans', sans-serif;
      width:30%;
}
.button:active{
      outline:none;
}
.icon{
 width: 20px;
  color: white;
  height: 20px;
  margin-right: 0.5rem;
}

@media (max-width:540px) {
      .container{
      justify-content: flex-start;
      margin-top:1rem;
}
.button{
      
      padding:.6rem .5rem;
      font-size: 18px;
      width:100%;
}
}