

footer {
 font-family: 'Josefin Sans', sans-serif;
  padding: 3rem 2rem;
  background-color: #020305;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
footer h1 {
  font-weight: 300;
  font-family: "Rochester", sans-serif;
  font-size: 2rem;
}

footer a {
  color: #c4c3ec;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
footer ul li {
  margin-right: 1rem;
}

@media (max-width: 540px) {
  footer {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  footer h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  footer p {
    margin-bottom: .5rem;
    font-size: 16px;
  }
  footer ul li{
    font-size: 16px;
  }
}

@media (width:768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
  footer ul li {
    margin-top: 1rem;
    
  }

  
}