@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rochester&display=swap');

header{
      background-color: rgb(22, 20, 20);
      color:white;
      font-family: 'Roboto' sans-serif;
      padding:1.5rem 3rem;
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top:0;
      right:0;
      width:100%;
}
header h1{
      font-weight: 300;
      font-family: 'Rochester', sans-serif;
      font-size: 3rem;
}

@media (max-width:540px){
      header h1{
            font-size: 2rem;
      }
      header{
      padding:.5rem 0 .5rem 1.5rem;
      position: fixed;
}
}


