@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rochester&display=swap');

header{
      background-color: rgb(22, 20, 20);
      color:white;
      font-family: 'Roboto' sans-serif;
      padding:2rem;
}
header h1{
      font-weight: 300;
      font-family: 'Rochester', sans-serif;
      font-size: 3rem;
}