/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
}